<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notbytes.barcode_reader">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name=".BarcodeReaderActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>